.profile__button-plus {
  margin-left: auto;
  background-image: url(../../../images/plus.png);
  height: 50px;
  width: 150px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  border: white solid 2px;

}
