.profile__button-plus {
  margin-left: auto;
  background-image: url(../../../images/plus.png);
  height: 50px;
  width: 150px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  border: white solid 2px;

}

@media screen and (max-width: 1100px) {
  .profile__button-plus{
    margin: 20px 0 0 0;


  }
}

@media screen and (max-width: 528px) {
  .profile__button-plus{
    height: 50px;
    width: 282px;


  }
}

