.elements__description {
  display:flex;
  justify-content: space-between;
  background-color: white;
  padding: 25px 30px 51px 21px;
  align-items:center;
}


@media screen and (max-width:528px) {
  .elements__description {
    padding: 25px 15px 21px 31px;
  }
}
