.popup__dedication {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom:48px;


}

@media screen and (max-width:784px) {
  .popup__dedication {
    margin-bottom:18px;
  }
}
