.popup__button-close {
  background-image: url(../../../images/Close\ Icon.png);
  height:32px;
  width:32px;
  position:relative;
  right:-108%;
  top: -28%;
  background-color: black;
  background-position: center;
  border:none;

}

